extends layout

block content
  h1= title
  form
    input(type="text" id="name" placeholder="enter assignment name")
    input(type="text" id="student" placeholder="enter student name")
    input(type="text" id="score" placeholder="enter score")
    input(type="text" id="date" placeholder="enter date completed")
    input(type="submit" value="submit")
  ul
    each assignment in assignments
        include ./assignments.jade
